<div class="modal fade" id="addCopyModal-@Model.Id" tabindex="-1" aria-labelledby="addCopyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addCopyModalLabel">Add New Book Copies</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="addCopiesForm" asp-action="AddCopies" method="post">
                <div class="modal-body">
                    <input type="hidden" name="BookID" value="@Model.Id" />

                    <div class="mb-3">
                        <label class="form-label">Number of Copies to Add</label>
                        <input type="number" name="NumberOfCopies" class="form-control" min="1" required>
                    </div>           
                </div>

                <div class="modal-footer">
                    <button type="reset" class="btn bg-color1" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn bg-color3 fw-bold">Add Copies</button>
                </div>
            </form>
        </div>
    </div>
</div>
