<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3 px-5 fixed-top">
    <div class="container-fluid d-flex align-items-center">
        <a class="navbar-brand fw-bold me-5">
            <img src="~/images/logo/logo2.0.png" width="150" height="50" alt="Logo"/>
        </a>
    </div>
</nav>
