<footer class="text-center text-lg-start bg-color3">
    @* <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn bg-color4 btn-lg btn-floating mx-2">
            <i class="ri-facebook-circle-fill text-color1"></i>
        </button>
        <button type="button" class="btn bg-color4 btn-lg btn-floating mx-2">
            <i class="ri-instagram-fill text-color1"></i>
        </button>
        <button type="button" class="btn bg-color4 btn-lg btn-floating mx-2">
            <i class="ri-mail-fill text-color1"></i>
        </button>
        <button type="button" class="btn bg-color4 btn-lg btn-floating mx-2">
            <i class="ri-linkedin-fill text-color1"></i>
        </button>
    </div> *@

    <div class="text-center text-color4 p-3 bg-color2">
        © 2025 ShelfMaster. All Rights Reserved.
    </div>
</footer>
