    <div class="p-3 bg-white rounded-3">
        <button class="btn bg-white text-white w-100 d-md-none d-flex align-items-center justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            <p class="fw-bold text-color4">MENU</p>
            <i class="ri-menu-line text-color4 fs-5"></i>
        </button>

        <p class="fw-bold text-color4 d-none d-md-block">MENU</p>
        <div id="sidebarMenu" class="collapse d-md-block bg-white text-color4 rounded-3">
            <a asp-controller="Dashboard" asp-action="Index" 
               class="sidebar-item @(test.Helpers.HtmlHelper.ActiveClass(ViewContext, "Dashboard", "Index")) d-block d-flex align-items-center rounded-3 p-2">
                <i class="ri-dashboard-line me-2"></i>
                <span>Dashboard</span>
            </a>
            <a asp-controller="MyBorrowed" asp-action="Index"
               class="sidebar-item @(test.Helpers.HtmlHelper.ActiveClass(ViewContext, "MyBorrowed", "Index")) d-block d-flex align-items-center rounded-3 p-2">
                <i class="ri-bookmark-line me-2"></i>
                <span>My Borrowed</span>
            </a>
            <a asp-controller="MyBorrowed" asp-action="Overdue"
               class="sidebar-item @(test.Helpers.HtmlHelper.ActiveClass(ViewContext, "MyBorrowed", "Overdue")) d-block d-flex align-items-center rounded-3 p-2">
                <i class="ri-time-line me-2"></i>
                <span>Overdue</span>
            </a>
        </div>
    </div>