<div class="modal fade" id="emptyArchive" tabindex="-1" aria-labelledby="emptyArchive" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emptyArchive">Empty Archive</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-controller="Archive" asp-action="EmptyArchive" method="post">
                <div class="modal-body">
                    <p>
                        You are about to <span class="text-danger fw-bold">delete all books</span> that have the status "Unavailable".
                    </p>

                    <p>
                        This action will permanently delete all these books from the archive. Are you sure you want to proceed?
                    </p>

                    <p class="fw-bold">Do you want to proceed with emptying the archive?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn bg-color1" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Yes, Empty Archive</button>
                </div>
            </form>
        </div>
    </div>
</div>
