<div class="modal fade" id="newAuthor" tabindex="-1" aria-labelledby="newAuthor" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAuthor">Add New Author</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form asp-area="Admin" asp-controller="Book" asp-action="CreateAuthor" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="authorName" class="form-label">Name</label>
                        <input id="authorName" type="text" class="form-control" name="Name" placeholder="Enter author's name" required/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-color1" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn bg-color3 fw-bold">Add Author</button>
                </div>
            </form>
        </div>
    </div>
</div>
