@{
    ViewData["Title"] = "Log In";
}

<div class="container d-flex justify-content-center align-items-center min-vh-120">
    <div class="row rounded shadow-lg bg-white p-4" style="max-width: 420px;">
        <div class="text-center mb-3">
            <img src="~/images/logo/logo1.png" alt="Logo" width="150" class="mb-3" />
        </div>

        <form asp-area="Admin" asp-controller="Auth" asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger d-flex align-items-center">
                    <i class="ri-error-warning-fill fs-5 me-2"></i>
                    <span>@ViewBag.Error</span>
                </div>
            }

            <div class="mb-3">
                <label for="username" class="form-label fw-semibold">Username</label>
                <input type="text" name="Username" class="form-control" id="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">Password</label>
                <input type="password" name="Password" class="form-control" id="password" required>
            </div>

            <button type="submit" id="btnLogin"
                    class="btn action-btn btn-login mt-3 w-100"
                    aria-label="Login to the system">
                Login
            </button>
        </form>
    </div>
</div>
